Temel kütüphaneleri içeri aktarıyoruz.

In [1]:
import numpy as np
import pandas as pd

Verimizi okuyoruz.

Verileri Kaggle üzerinden temin edebilirsiniz: https://www.kaggle.com/kkhandekar/cheapest-electric-cars

In [2]:
df = pd.read_csv("data/Cheapestelectriccars.csv")

Şimdi verimize bir göza atalım.

Bunun için **head()** fonksiyonunu kullanabiliriz. Verileri daha iyi görebilmek için **transpose (T)** ediyorum.

In [3]:
df.head().T

,0,1,2,3,4
Name,Opel Ampera-e,Renault Kangoo Maxi ZE 33,Nissan Leaf,Audi e-tron Sportback 55 quattro,Porsche Taycan Turbo S
Subtitle,Battery Electric Vehicle | 58 kWh,Battery Electric Vehicle | 31 kWh,Battery Electric Vehicle | 36 kWh,Battery Electric Vehicle | 86.5 kWh,Battery Electric Vehicle | 83.7 kWh
Acceleration,7.3 sec,22.4 sec,7.9 sec,5.7 sec,2.8 sec
TopSpeed,150 km/h,130 km/h,144 km/h,200 km/h,260 km/h
Range,335 km,160 km,220 km,375 km,390 km
Efficiency,173 Wh/km,194 Wh/km,164 Wh/km,231 Wh/km,215 Wh/km
FastChargeSpeed,210 km/h,-,230 km/h,600 km/h,860 km/h
Drive,Front Wheel Drive,Front Wheel Drive,Front Wheel Drive,All Wheel Drive,All Wheel Drive
NumberofSeats,5,5,5,5,4
PriceinGermany,"€42,990",NaN,"€29,990",NaN,"€186,336"
PriceinUK,NaN,"£31,680","£25,995","£79,900","£138,830"

Verilerimizi incelediğimizde aşağıda belirtelen hususların düzeltilmesi gerekiyor. Çünkü bir çok sütun sayısal veri içermesi gerekirken hücrelerde sayısal olmayan değerler göze çarpıyor. Bu istediğimiz bir durum değil.

* Name sütunundan marka adını yeni bir sütunda saklayabiliriz.
* PriceinUK ve PriceinGermany sütunlarından €,£ sembollerini temizlemeliyiz.
* FastChargeSpeed ve TopSpeed sütunlarından km/h ifadesini temizlemeliyiz. 
* Efficiency sütunundan Wh/km ifadesini temizlemeliyiz.
* Range sütunundan km ifadesini temizlemeliyiz.
* Acceleration sütunundan sec ifadesini temizlemeliyiz.

**Exploratory Data Analysis**

Öncelikle sütun adlarımızı listeye dönüştürüp bir görelim

In [4]:
print(df.columns.tolist())

['Name', 'Subtitle', 'Acceleration', 'TopSpeed', 'Range', 'Efficiency', 'FastChargeSpeed', 'Drive', 'NumberofSeats', 'PriceinGermany', 'PriceinUK']

kayıp değerleri ilk etapta "0" ile doldurmakta fayda var. Sonraki adımlarda yapacağımız temizleme işlemlerinde karşılaşacağımız olası problemleri önlemek için bu iyi bir adım olacaktır.

In [5]:
#filling empty data with 0
df=df.fillna('0')

name sütunundan marka değerini yeni bir sütunu atıyoruz.

In [6]:
df['Manufacturer'] = df.Name.str.split(' ', 1, expand=True)[0]

PriceinUK sütunundan £ sembolini kaldırıyoruz.

In [7]:
PriceinUK=[]
for item in df['PriceinUK']:
    PriceinUK+=[int(item.replace('£','').replace(',',''))]
df['PriceinUK']=PriceinUK

PriceinGermany sütunundan € sembolünü kaldırıyoruz.

In [8]:
PriceinGermany=[]
for item in df['PriceinGermany']:
    PriceinGermany+=[int(item.replace('€','').replace(',',''))]
df['PriceinGermany']=PriceinGermany

Benzer işlemi aynı yöntemle değerlerde olmasını istemediğimiz diğer ifadeler için aynı yöntemi **(replace)** kullanarak devam ediyoruz.

In [9]:
FastChargeSpeed=[]
for item in df['FastChargeSpeed']:
    FastChargeSpeed+=[int(item.replace(' km/h','').replace('-','0'))]
df['FastChargeSpeed']=FastChargeSpeed

In [10]:
Efficiency=[]
for item in df['Efficiency']:
    Efficiency+=[int(item.replace(' Wh/km',''))]
df['Efficiency']=Efficiency

In [11]:
Range=[]
for item in df['Range']:
    Range+=[int(item.replace(' km',''))]
df['Range']=Range

In [12]:
TopSpeed=[]
for item in df['TopSpeed']:
    TopSpeed+=[int(item.replace(' km/h',''))]
df['TopSpeed']=TopSpeed

In [13]:
Acceleration=[]
for item in df['Acceleration']:
    Acceleration+=[float(item.replace(' sec',''))]
df['Acceleration']=Acceleration

In [14]:
Subtitle=[]
for item in df['Subtitle']:
    Subtitle+=[float(item.replace('Battery Electric Vehicle | ','').replace(' kWh','').replace('      ',''))]
df['Subtitle']=Subtitle

Son olarak Subtitle sütunun adını KWH olarak değiştiriyoruz. Çünkü bu sütunlarda tekrar eden 'Battery Electric Vehicle' ifadesini çıkardık. Geriye kalan sayısal değer ise aracın kWh değeri.

In [16]:
df= df.rename(columns = {'Subtitle':'KWH'})